
name: solfg_music_app
description: Professional SOLFG BOT music app
version: 1.0.0
environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.0.0
  audioplayers: ^5.2.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
